* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

body {
    background-color: #dee2d6;
}

nav {
    height: 25vh;
    background-color: #171738;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
}

nav img {
    height: 80%;
}

nav a {
    color: #dee2d6;
}

ul {
    display: flex;
    list-style: none;
}


#homelink, #gallerylink {
    margin-right: 8px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 615px) {
    nav {
        flex-direction: row;
    }

    nav ul {
        font-size: 2rem;
    }

    nav img {
        margin-left: 10px;
    }

    #homelink {
        margin-left: 5vw;
    }

    .navlinks {
        margin-right: 25px;
    }
}
